html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.container {
  display: flex; /* or inline-flex */
}

button.action-button {
  margin-left: 5px
}

div.noteSpacer {
  margin-top: 10px
}

